@media only screen and (max-width: 600px) {
  .logo-cevreleyici {
    display: none;
  }
  #anaLinkler {
    font-size:14px;
  }
}

html {
  height: 100%;
}
body {
  min-height: 100%;
}

.App {
  background-color: #282c34;
  font-size: 20px;
  color: white;
}

.App-header {
  max-width:1280px;
  margin:auto;
  position:relative;
  height:80px;
}

.header-linkler  {
  display:inline-block;
  position:absolute;
  right:0px;
  top:7px;
}
.header-linkler li {
  display:inline-block;
}

.header-linkler li:after {
  content:"";
  border-right:1px solid #1c677b;
  
}


.App-link {
  color: #61dafb;  
  text-decoration: none;
  display:inline-block;
  height:28px;  
  padding:0px 20px;
    

}

.App-link:hover, .secili {
  background-color:#61dafb;
  color:#282c34;
}

.ibbLogo {
  vertical-align:middle;
  margin-right:10px;
  height:45px;
}

.logo-cevreleyici {
  position:absolute;
  left:0px;
  top:18px;
}

.iframe {
  border-top:1px solid #ed4949
}

footer {
  position: absolute; left: 0px; right: 0px; bottom: 0px; font-size:12px; text-align: center; color:black; height: 40px; background-color: white
}